.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-base {
    transform: translateZ(-1px) scale(2);
}

.parallax-layer-back {
    transform: translateZ(-2px) scale(3);
}

.parallax-layer-deep {
    transform: translateZ(-3px) scale(4);
}
